<form class="mt-4" [formGroup]="form">
  <div class="filters-container">
    <div class="filter-item">
      <app-date-filter
        [value]="dateFilterValue()"
        [disabled]="loading()"
        [label]="'Okres danych'"
        (dateChange)="onDateFilterChange($event)" />
    </div>
    <div class="filter-item">
      <p class="label_text">Status klasyfikacji</p>
      <app-chips
        [options]="statusChipOptions"
        [selectedValue]="form.controls.status.value"
        [disabled]="loading()"
        (selectionChange)="onStatusSelectionChange($event)" />
    </div>
    <div class="filter-item">
      <app-select-autocomplete
        [options]="categoryOptions()"
        [fieldLabel]="'Kategoria'"
        [value]="form.controls.category_id.value"
        [disabled]="loading()"
        (valueChange)="onCategorySelected($event)"
        (queryChange)="categorySearch.emit($event)"
        data-testid="expenses-category-filter" />
    </div>
  </div>
</form>
