:host ::ng-deep .tone-info {
    background-color: rgba(59, 130, 246, 0.12);
    color: rgb(37, 99, 235);
  }

  :host ::ng-deep .tone-success {
    background-color: rgba(34, 197, 94, 0.12);
    color: rgb(22, 163, 74);
  }

  :host ::ng-deep .tone-warning {
    background-color: rgba(250, 204, 21, 0.16);
    color: rgb(217, 119, 6);
  }

  :host ::ng-deep .tone-error {
    background-color: rgba(239, 68, 68, 0.12);
    color: rgb(220, 38, 38);
  }