name: CI - Test & Build

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    environment: test
    env:
      NODE_ENV: test
      CI: true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Node and install dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Run unit tests
        run: npm run test -- --watch=false --browsers=ChromeHeadless

  build:
    runs-on: ubuntu-latest
    needs: tests
    env:
      NODE_ENV: production
      CI: true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Node and install dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Verify installation
        run: |
          echo "Checking node_modules..."
          ls -la node_modules/.bin/ | grep ng || echo "ng not found!"
          npm list @angular/cli || echo "Angular CLI not in package list"

      - name: Build production
        run: npm run build:prod
